// Specific CSS for your home-page
.home-wrapper {
  width: 70%;
}

.banner {
  background: linear-gradient(169deg, #FF9BA7 15.22%, #9BA5FF 94.87%);
  padding: 200px 30px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.banner img {
  position: absolute;
  top: -20px;
  left: 370px;
  z-index: 0;
}

.pos-front {
  position: relative;
  z-index: 1;
}

.pink-text {
  color: #ff4b41;
}
