<div class="banner p-5">
  <div class="container home-wrapper">
    <div class="row">
      <div class="col-6">
        <h1>Get a pet for a day</h1>
        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque repellendus cumque, aut, delectus commodi explicabo blanditiis quo repellat in placeat doloremque hic, vero consequuntur velit ut? Dolorum aut quia omnis! </p>
        <div class="d-flex">
          <input type="text">
          <%= link_to 'Search', pets_path, class:"btn btn-danger"%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-content p-5">
  <div class="container home-wrapper">
    <h2>Discover our adorable toutous</h2>
    <div class="row">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)"><p>To cuddle</p></div>
      <div class="card-category mx-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)"><p>To cuddle</p></div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)"><p>To cuddle</p></div>
    </div>
  </div>
</div>

<div class="home-content-bottom p-5">
  <div class="container home-wrapper">
    <div class="row justify-content-end">
      <div class="col-6">
        <h2>Share your pets with the PettyLovers community</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore dignissimos quasi velit qui doloremque dicta ut laborum hic consectetur nam vel, inventore cumque iusto in perspiciatis ea voluptas iure? Pariatur.</p>
      </div>
    </div>
  </div>
</div>
