<div class="banner">
  <div class="container home-wrapper">
    <div class="row">
      <div class="col-6">
        <%= image_tag("Sally") %>
        <h1>Get a <span class="pink-text">pet</span> for a day</h1>
        <p class="mb-4"> Welcome on DayPet ! Join us to discover our furry friends community to share an experience with the human's best friend ! </p>
        <div class="d-flex">
          <input type="text" placeholder="What are you looking for ?" class="me-2 searchbar">
          <%= link_to 'Browse our pets', pets_path, class:"btn-pink pos-front"%>
        </div>
      </div>
    </div>
  </div>
</div>
``
<div class="home-content p-5">
  <div class="container home-wrapper">
    <h2 class="pb-4">Discover our adorable toutous</h2>
    <div class="row">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.freepik.com/vecteurs-libre/chien-carlin-mignon-dormant-illustration-icone-vecteur-dessin-anime-oreiller-icone-nature-animale-isolee-plat_138676-5779.jpg?w=1380&t=st=1661339699~exp=1661340299~hmac=b302e337e1de328d3cdb1fcfb2ac85f8874cceb2e46afbae738bb3063cafd5c8)"><p>To cuddle</p></div>
      <div class="card-category mx-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.freepik.com/vecteurs-libre/chien-carlin-mignon-assis-bleu_138676-3039.jpg?w=1380&t=st=1661339666~exp=1661340266~hmac=bc40285fb329d222d8d98619ccc440534b6318cde0b57848161d18e6f8f193b8)"><p>To have a walk</p></div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.freepik.com/vecteurs-libre/chien-puk-mignon-cours-execution-illustration-icone-vecteur-dessin-anime-concept-icone-nature-animale-isole-vecteur-premium-style-dessin-anime-plat_138676-4159.jpg?w=2000)"><p>To have fun</p></div>
    </div>
  </div>
</div>

<div class="home-content-bottom p-5">
  <div class="container home-wrapper">
    <div class="row justify-content-end">
      <div class="col-6">
        <h2>Share your pets with the PettyLovers community</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore dignissimos quasi velit qui doloremque dicta ut laborum hic consectetur nam vel, inventore cumque iusto in perspiciatis ea voluptas iure? Pariatur.</p>
      </div>
    </div>
  </div>
</div>
