.btn-pink {
  border-radius: 5px;
  padding: 10px 25px;
  color: white;
  font-weight: bold;
  background-color: #ff4b41;
  border: 0;
  text-align: center;
  white-space: nowrap;
  &:hover {
    text-decoration: none;
    color: black;
  }
}
