.btn-pink {
  border-radius: 5px;
  padding: 10px 25px;
  color: white;
  font-weight: bold;
  background-color: #ff4b41;
  border: 0;
  text-align: center;
  white-space: nowrap;
  transition: all .2s ease-in;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: #ff4136;
    box-shadow: 0px 7px 20px #ff413678;
  }
}
